Package: com.giorgioiavicoli.passby
Name: PassBy
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
Version: 1.9.3
Architecture: iphoneos-arm
Description: Bypass passcode in many ways, supports rootless & roothide jailbreaks on iOS 15+
Maintainer: Giorgio Iavicoli
Author: Giorgio Iavicoli
Section: Tweaks
